
<hr>
<h4>Need Anything?</h4>
<hr>
<form class="form-horizontal">
<div class="form-group">
    <label class="col-md-2" for="name">Name:</label>
    <div class="col-sm-10">
    <input type="text" class="form-control" id="name" 
    name="name" [(ngModel)]="model.name" placeholder="Enter your name">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-2" for="employeeCode">Employee Code:</label>
    <div class="col-sm-10"> 
    <input type="text" class="form-control" id="employeeCode"
    name="employeeCode" [(ngModel)]="model.employeeCode" placeholder="Enter your employee code">
    </div>
</div>
<div class="form-group">
    <label class="col-md-2" for="general">General Requirement:</label>
    <div class="col-sm-10">
    <select class="form-control" id="general"  name="general" [(ngModel)]="model.general" >
        <option value="Fan"  >Fan</option>
        <option value="TubeLight"  >TubeLight</option>
        <option value="Water cooler"  >Water cooler</option>
        <option value="Chair"  >Chair</option>
        <option value="Disposable cups">Disposable cups</option>
        <option value="Hand Sanitizer"  >Hand Sanitizer</option>
        <option value="Scissors"  >Scissors</option> 
        <option value="Note Book"  >Note Book</option>
        <option value="Gloves"  >Gloves</option>
        <option value="Paper Bags"  >Paper Bags</option>
        <option value="Curtains"  >Curtains</option>
        <option value="Black Marker"  >Black Marker</option>
        <option value="Ball pen"  >Ball pen</option>
        <option value="Ac Repair"  >Ac Repair</option>
        <option value="Bill book"  >Bill book</option>
        <option value="Desktop repair"  >Desktop repair</option>
        <option value="Software issue"  >Software issue</option>
        <option value="Table"  >Table</option>
        <option value="Tissue papers"  >Tissue papers</option>
        <option value="None">None</option>
        <option value="Others"  >Others</option>

               </select>
               </div>
</div>

<div class="form-group">
    <label class="col-md-2" for="medicine">Medicine Requirement:</label>
    <div class="col-sm-10">
    <select class="form-control" id="medicine"  name="medicine" [(ngModel)]="model.medicine">
        <option value="Paracetamol"  >Paracetamol</option>
        <option value="Evion"  >Evion 400</option>
        <option value="Crocin"  >Crocin</option>
        <option value="Cough"  >Cough</option>
        <option value="Crocin Advance">Crocin Advance</option>
        <option value="HCQS"  >HCQS</option>
        <option value="Melxicam"  >Melxicam</option> 
        <option value="Otezla"  >Otezla</option>
        <option value="Ozempic"  >Ozempic</option>
        <option value="Tramadol"  >Tramadol</option>
        <option value="Tarazodone"  >Tarazodone</option>
        <option value="Gilenya"  >Gilenya</option>
        <option value="Faxiga"  >Faxiga</option>
        <option value="Lyrica"  >Lyrica</option>
        <option value="Viagra"  >Viagra</option>
        <option value="Xanax"  >Xanax</option>
        <option value="Humira"  >Humira</option>
        <option value="Dupixent"  >Dupixent</option>
        <option value="Ativan"  >Ativan</option>
        <option value="Others"  >Others</option>
        <option value="None">None</option>
               </select>
               </div>
</div>
<div class="form-group">
    <label class="col-md-2" for="name">Date of complaint</label>
    <div class="col-sm-10">
    <input type="text" class="form-control" id="doc" 
    name="doc" [(ngModel)]="model.doc" placeholder="Enter your complaint">
    </div>
</div>
<div class="form-group">
    <label class="col-md-2" for="name">Note</label>
    <div class="col-sm-10">
    <textarea class="form-control" id="note" 
    name="note" [(ngModel)]="model.note" placeholder="Enter Note">
    </textarea>
    </div>
</div>

<div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
        <a routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/procurement']" class="btn btn-outline-success btn-sm" (click)="addEmployee()">Save</a>
    </div>
</div>
</form>