
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="#" style="color:white">
    <img src="https://cdn1.vectorstock.com/i/1000x1000/36/45/medical-logo-medical-center-logo-vector-26443645.jpg" height="42"
      width="30" height="30" class="d-inline-block align-top" alt="">
    Medical Management System
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false"  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" style="margin-left:534px">
        <a href="javascript:void(0)" class="nav-link" routerLink="/about" style="color:white">About Us <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a href="javascript:void(0)" class="nav-link active" routerLink="/contact" style="color:white">Contact Us</a>
      </li>
      <li>
        <!-- <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            LogIn
          </button> -->
          <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a href="javascript:void(0)" class="dropdown-item" routerLink="/luser">LogIn As User</a>

            <a  href="javascript:void(0)" class="dropdown-item" routerLink="/ladmin">LogIn As Admin</a>
          </div> -->
        <!-- </div> -->
      </li>
    </ul>
  </div>


</nav>
