<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <h2>Medical Store Management App</h2>
        <img src="./assets/images/Medical_Store.png"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h2>Anand Soni</h2>
        <h2>Raza Hasan</h2>
        <h2>Priya Rani</h2>
        <h2>Nikhil Gupta</h2>



      </div>

      <div class="text-center">@capgemini</div>
      <div class="text-center">
        <a href="http://www.bit.ly/medicalstoresystem">www.bit.ly/medicalstoresystem</a>
      </div>
    </div>
  </div>
</div>